$primaryColor : #c0392b;
$secondaryColor : #FCCA35;
$backgroundPrimary : #000;
$backgroundSecondary : #333;
$primaryFontSize : 12px;
$primaryFontFamily : 'Roboto', sans-serif;

/* GLOBAL */
html {
  background-color: $backgroundSecondary;
}

body {
  overflow: auto!important;
}

.bold {
  font-weight: 700!important;
}

.controller-container {
    width: 100vw;
    font-family: $primaryFontFamily;
    background-color: $backgroundSecondary;
}

/* SIDE-NAV */
.side-nav {
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 45px;
  background-color: $backgroundPrimary;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.nav-open {
  width: 150px;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.side-nav-backer {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 45px;
  background-color: rgba(0,0,0,0.3);
}

.side-nav-backer--open {
  width: 100vw;
}

.navbar-toggle {
  display: inline-block;
  margin-right: 0;
}

.icon-bar {
  z-index: 6;
  background-color: white;
}

.nav-list {
  position: absolute;
  top: 50px;
  width: 0;
  text-align: right;
  -webkit-transition: width .6s ease-in-out;
  -moz-transition: width .6s ease-in-out;
  -o-transition: width .6s ease-in-out;
  transition: width .6s ease-in-out;
  overflow: hidden;
}

.nav-list--open {
  width: 100%;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav-item {
  color: white;
  height: 50px;
  cursor: pointer;
  border-top: 1px solid $backgroundPrimary;
  border-bottom: 1px solid $backgroundPrimary;
}

.nav-item:first-of-type {
  border-bottom: 0;
}

.nav-item:last-of-type {
  border-top: 0;
}

.nav-item p {
  line-height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  font-size: $primaryFontSize;
}

.nav-item--active {
  background-color: $backgroundSecondary;
  color: white;
  font-weight: 700;
}

.nav-post-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

/* CONTENT */
.top-content-container {
  background-image: url('./images/parallax/layer0.png');
  background-position: center;
  background-size: cover;
  // margin-left: 45px;
  height: 500px;
  padding: 0;
  overflow-y: hidden;
}

.footer-container {
  // margin-left: 45px;
  background-color: $backgroundSecondary;
  height: 100px;
  text-align: center;
  max-width: 100vw;

  .footer-content {
    color: white;
    padding: 10px;

    a {
      color: #3498db;
    }
  }
}

.social-container {
  position: absolute;
  top: 15px;
  font-size: 20px;

  a, a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #ecf0f1;
  }
}

.header-title {
  font-size: 50px;
  margin-top: 50px;
  background-color: rgba(255,255,255,0.6);
  padding: 0;
  text-align: center;
  // -webkit-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
  // -moz-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
  // -o-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
  // transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
}

.header-title.affix {
    font-size: 40px;
    margin-top: 0;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid $backgroundSecondary;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    // -webkit-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
    // -moz-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
    // -o-transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
    // transition: font-size .1s ease-in-out, background-color .1s ease-in-out, margin-top .1s ease-in-out;
}

.the-men-container {
  width: 100vw;
  background-color: $backgroundSecondary;
  position: absolute;
  top: 425px;
  text-align: center;
  height: 40px;

  .the-men-name {
    color: white;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .the-men-details {
    height: 150px;
    width: 300px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;

    p {
      position: absolute;
      bottom: 0;
      color: white;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .stories-btn {
    color: white;
    background-color: $backgroundPrimary;
    padding: 10px;
    margin-left: -75px;
  }
}

/* STORIES CONTENT */
.stories-content-container {
  // margin-left: 45px;
  background-color: #ecf0f1;
  color: $backgroundSecondary;
  padding: 0;
  border-top: 10px solid $backgroundSecondary;
  width: 90vw;
  margin: 0 auto;

  .stories-sidebar {
    padding: 0;
    width: 20%;
    float: left;
    background-color: #ecf0f1;
    text-align: center;

    .story-sidebar-image {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .story-sidebar-title {
      background-color: $backgroundSecondary;
      color: white;
      padding: 10px;
      margin: 0 auto;
      cursor: pointer;
      width: 95%;
      font-weight: 300;
    }

    .story-sidebar-gallery-image {
      width: 80%;
      border: 1px solid #333;
      margin: 10px;
      cursor: pointer;
    }
  }

  .story-container {
    padding: 0;
    width: 80%;
    float: right;
    background-color: #ecf0f1;
    padding: 20px 40px 20px 20px;
    border-left: 3px solid $backgroundSecondary;
    font-weight: 300;
  }
}

.gallery-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100vh;
  width: 100vw;

  .gallery-backer {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
  }

  .gallery-image {
    border: 5px solid #ecf0f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
  }

  .close-gallery-btn {
    background-color: #ecf0f1;
    color: $backgroundSecondary;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    position: fixed;
    top: 15%;
    right: 5%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
}







.btn-media {
  color: white;
  background-color: $backgroundSecondary;
  border-radius: 0px;

  &:active {
    color: white;
    background-color: $backgroundSecondary;
    border-radius: 0px;
  }

  &:hover {
    color: white;
    background-color: $backgroundSecondary;
    border-radius: 0px;
  }

  &:focus {
    color: white;
    background-color: $backgroundSecondary;
    border-radius: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: inline-block;
  }
}
