<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voices of the Korengal</title>
    <script src="./lib/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="./lib/angular/angular.js" charset="utf-8"></script>
    <script src="./lib/angular-sanitize/angular-sanitize.min.js" charset="utf-8"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="./lib/jquery.parallax.min.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700">

  </head>
  <body>

    <div class="app-container" ng-app="voicesApp">

      <div class="splash">
        <div class="splash-nav">
          
        </div>
        <ul id="main-scene">
          <li class="layer" data-depth="0.00"><img src="./images/parallax/layer0.png"></li>
          <li class="layer" data-depth="0.05">
            <div class="col-xs-12 text-center">
              <h1 class="splash-title">VOICES OF THE <strong>KORENGAL</strong></h1>
            </div>
          </li>
          <li class="layer" data-depth="0.40"><img src="./images/parallax/layer2.png"></li>
          <li class="layer last-layer" data-depth="0.99"><img src="./images/parallax/layer1.png"></li>
          
      </ul>
      </div>
      

        <div class="controller-container" ng-controller="mainCtrl">
            <div class="side-nav" ng-class="{'nav-open': navOpen}">
              <button type="button" class="navbar-toggle" ng-click="openNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-list" ng-class="{'nav-list--open': navOpen}">
                <div
                  class="nav-item"
                  ng-click="goTo(post.id)"
                  ng-class="{'nav-item--active': post.id == currentPostID}"
                  ng-repeat="post in posts track by $index">
                  <img class="nav-post-image" ng-src="{{post.images[0]}}"><p>{{post.title.toUpperCase()}}</p>
                </div>
              </div>
            </div>
            <div class="side-nav-backer" ng-class="{'side-nav-backer--open': navOpen}"></div>

            <div class="content-container container-fluid">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h1 class="header-title">VOICES OF THE <strong>KORENGAL</strong></h1>
                  </div>

                  <div id="{{post.id}}" class="post-container col-xs-10 col-xs-offset-1"
                    ng-class="{'display-post': post.id == currentPostID}"
                    ng-repeat="post in posts track by $index">
                      <h1 class="post-title">{{post.title.toUpperCase()}}</h1>
                      <div class="post-attachments">
                        <button type="button" class="btn-media btn btn-primary" ng-click="activateCarousel(post.id, 'carousel')">Gallery</button>
                        <button type="button" class="btn-media btn btn-primary" ng-click="activateCarousel(post.id, 'video')">Video</button>
                        <button type="button" class="btn-media btn btn-primary" ng-click="activateCarousel(post.id, 'audio')">Audio</button>
                      </div>
                  	<div class="post-body" ng-bind-html="post.content"></div>
                  </div>
                </div>
            </div>

            <div id="modal-{{post.id}}" class="modal fade" tabindex="-1" role="dialog" ng-repeat="post in posts track by $index">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">


                  <div id="carousel-{{post.id}}" class="carousel slide"
                    data-ride="carousel"
                    ng-show="showCarousel">
                    <!-- Indicators -->
                    <!-- <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol> -->


                    <div class="carousel-inner" role="listbox">
                      <div class="item" ng-class="{'active': $index == 0}" ng-repeat="image in post.images">
                        <img ng-src="{{image}}">
                        <div class="carousel-caption">
                          ...
                        </div>
                      </div>
                      ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" ng-click="changeSlide(post.id,'prev')">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" ng-click="changeSlide(post.id,'next')">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                  <div class="video" ng-show="showVideo">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="1280" height="720" ng-src="{{sanitizeURL(post.video)}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>

                  <div class="audio" ng-show="showAudio">
                    <iframe width="100%" height="200" scrolling="no" frameborder="no" ng-src="{{sanitizeURL(post.audio)}}"></iframe>
                  </div>


                </div>
              </div>
            </div>


            <div class="footer-container">
            </div>
        </div>
    </div>

  </body>
</html>
